<template>
        <div class="container">
            <div class="card mt-5">
                <h5 class="card-header bg-primary text-light">Buscador</h5>
                <div class="card-body">
                  
                    <form @submit.prevent="search" >
                        <div class="row">
                            <div class="col-md-4">
                                <input v-model="form.nombres_apellidos" class="form-control" type="text" placeholder="Ej: Alejandro Hernandez">
                            </div>
                            <div class="col-md-1">
                                <input  v-model="form.porcentaje" class="form-control" type="number" placeholder="Ej: 95">
                            </div>
                            <div class="col-md-3">
                                <button type="button" @click="search()"  class="btn btn-primary">Buscar</button>
                            </div>
                            <div class="col-md-4">
                              <div v-for="error in errors" class="alert alert-danger" role="alert">
                                {{error[0]}}
                              </div>
                              <div v-if="message.length > 0 && message == 'Exitoso sin resultados.' " class="alert alert-warning" role="alert">
                                {{message}}
                              </div>
                              <div v-if="message.length > 0 && message == 'Exitoso con resultados.' " class="alert alert-success" role="alert">
                                {{message}}
                              </div>
                            </div>
                        </div>
                    </form>
                    
                   
                    <table class="table">
                        <thead>
                          <tr >
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo persona</th>
                            <th scope="col">Tipo cargo</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">municipio</th>
                            <th scope="col">% Coincidencia </th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for ="result in results">
                            <th scope="row">{{result[0].nombre}}</th>
                            <td>{{result[0].tipo_persona}}</td>
                            <td>{{result[0].tipo_cargo}}</td>
                            <td>{{result[0].departamento}}</td>
                            <td>{{result[0].municipio}}</td>
                            <td>{{result.percent}}</td>


                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
        </div>

        


</template>

<script>
  
    export default {
        components: {
           
        },

        data(){
          return{
            form : {
              nombres_apellidos : null,
              porcentaje: null
            },
            results : [],
            message : [],
            errors : []
          }
        },
        methods:{
          search (){
            this.message = [];
            this.errors = [];
            axios.post(this.route("diccionario.search"), this.form)
            .then((res)=> {
                this.results = res.data.results ;
                this.message = res.data.message;
            })
            .catch(err => {
                this.errors = err.response.data;
            })
          },

      

       
        }
    }
</script>